.card-author {
  display: flex;
  align-items: center;

  &__image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: $gray_b2;
    border-radius: 50%;
  }

  &__name {
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
  }
}
