.dropdown-list {
  display: none;
  position: absolute;
  top: 35px;
  left: -10px;
  width: 175px;
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.94);
  opacity: 0.94;
  backdrop-filter: blur(21.7463px);
  mix-blend-mode: normal;
  border-radius: 8px;
  z-index: 10;

  &--open {
    display: block;
  }
}
