.profile {
  max-width: 350px;
  width: 100%;
  margin-right: 15px;
  text-align: left;

  &__description {
    line-height: 24px;
  }
}

@media(max-width: $desktop-width) {
  .profile {
    max-width: 330px;
  }
}

@media(max-width: $tablet-width) {
  .profile {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px;

    &__description {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

@media(max-width: $mobile-width) {
  .profile {
    &__description {
      max-width: 100%;
    }
  }
}

