.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__name {
    margin-right: 20px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: $gray_dark;
  }

  &__photo {
    margin-right: 15px;
  }

  &__menu {
    width: 6px;
    height: 6px;
    margin-right: 30px;
    border-right: 2px solid $gray_light;
    border-bottom: 2px solid $gray_light;
    transform: rotate(45deg);
    cursor: pointer;
  }
}
